@model int
@inject Nop.Services.Catalog.IProductService productService

<select class="form-control" data-placeholder="Search for a product" style="width: 100%" id="@Html.IdForModel()" name="@Html.NameForModel()">
    @if (Model > 0) 
    {
        var product = await productService.GetProductByIdAsync(Model);
        if (product != null && !product.Deleted)
        {
            <option value="@Model" selected="selected">@product.Name</option>
        }
    }
</select>

<script>
    $(document).ready(function () {
        $('#@Html.IdForModel()').select2({
            ajax: {
                url: '@(Url.Action("Products", "Select2"))',
                dataType: 'json',
                data: function (params) {
                    var query = {
                        q: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return data;
                },
                minimumInputLength: 1
            }
        });
    });
</script>